@page "/client"

<div>
    <div>back_button</div>
    <div>menu button</div>
    <h3>ChatyChaty</h3>
</div>
@for (int i = 0; i < 10; i++)
{
    <div>
        <div>picture</div> 
        <div>person name</div>
    </div>
}


