@page "/client/signup"
<h3>SignUp</h3>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input @bind="DisplayName" type="text">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input @bind="Username" type="text">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input @bind="Password" type="password">
    </div>

    <button @onsubmit="SignUp" type="submit" class="btn btn-primary">Submit</button>
</form>
