@page "/client/signup"

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">ChatyChaty</span>
    </div>
</nav>

<div class="m-1">
    <h4 class="my-3 fw-bold">SignUp</h4>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input @bind-value="DisplayName" class="form-control" type="text">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input @bind-value="Username" class="form-control" type="text">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input @bind-value="Password" class="form-control" type="password">
        </div>
        @if (Error is not null)
        {
            <div class="alert alert-danger">
                @Error
            </div>
        }
        <button @onclick="SignUp" type="button" class="btn btn-primary">SignUp</button>
    </form>
</div>
