@{
    ViewData["Title"] = "HubClient";
    Layout = "_Layout";
}

<h2>Authentication</h2>
<div class="form-group mt-3">
    <label>JWT Token (get the jwt token from authentication controller)</label>
    <input class="form-control" type="text" id="Token" />
</div>
<button class="btn btn-primary" type="button" onclick="Authenticate()" id="Token">Authenticate and connect</button>


<div id="main-controller-container" hidden="hidden">
<hr />
    <h2>Actions menu</h2>
    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="form-group">
                <labe>Message</labe>
                <input class="form-control" type="text" id="messageInput" />
            </div>
            <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" />
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            ...
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            ...
        </div>
    </div>


    <hr />
    <h2>Output:</h2>
    <div>
        <div>
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js"></script>
<script src="~/js/Script.js"></script>