@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<h2>App is runnig</h2>
<a href="/swagger/index.html">Open Swagger for API info</a>
<br />
<a asp-action="HubTestClient">Open SignalR js test client</a>
<br />


