<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>App is runnig</h2>
    <a href="/swagger/index.html">Open Swagger for API info</a><br />
    <a asp-action="HubClient" >Open SignalR js client</a><br />
</body>
</html>
