<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <h2>Available Action</h2>
    <a asp-controller="Api" asp-action="GetImg">GetImg</a><br />
    <a asp-controller="Api" asp-action="TestingPost">TestingPost</a><br />
</body>
</html>
