@page "/client/login"
@inherits AuthBase

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">ChatyChaty</span>
    </div>
</nav>


<div class="m-3">
    <h4 class="my-3 fw-bold">Login</h4>
    <EditForm OnValidSubmit="@AuthenticateButtonClickAsync" Model="@loginModel">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <InputText @bind-Value="loginModel.Username" class="form-control" type="text" />
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <InputText @bind-Value="loginModel.Password" class="form-control" type="password" />
        </div>
        @if (Error is not null)
        {
            <div class="alert alert-danger">
                @Error
            </div>
        }
        <ValidationSummary />
        <div class="d-flex justify-content-between">
            <button disabled="@DisableLoginButton" type="submit" class="btn btn-primary">
                Login
            </button>
            <a href="Client/Signup" class="btn btn-light">Create account</a>
        </div>
    </EditForm>
</div>


